[Run]
Output Path = /Users/kp14102/Documents/BristolTeaching2023/cosmic_muon_expt/
Run time = 60

[Sampling]
Pre-Trigger Window  = 2e-7
Post-Trigger Window = 5e-6
Time Base           = 4
Captures Per Block  = 10

[Channel A]
Coupling            = DC_50OHM
Range               = 0.5
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = True
Trigger Type        = LEVEL
Trigger Direction   = BELOW
Threshold           = -0.1
Polarity            = -1

[Channel B]
Coupling            = DC_50OHM
Range               = 0.5
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = True
Trigger Type        = LEVEL
Trigger Direction   = BELOW
Threshold           = -0.1
Polarity            = -1

[Channel C]
Coupling            = DC_50OHM
Range               = 0.5
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = False
Trigger Type        = LEVEL
Trigger Direction   = FALLING
Threshold           = -0.1
Polarity            = -1


