[Run]
Output Path = C:/Users/kp14102/CR_MSci_Lab/
Run time = 600
Trigger Combo Setting = 4

[Sampling]
Pre-Trigger Window  = 1e-7
Post-Trigger Window = 1e-6
Time Base           = 2
Captures Per Block  = 1


[Channel A]
Coupling            = DC_50OHM
Range               = 0.5
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = True
Trigger Type        = LEVEL
Trigger Direction   = BELOW
Threshold           = -0.1
Polarity            = -1

[Channel B]
Coupling            = DC_50OHM
Range               = 0.5
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = False
Trigger Type        = LEVEL
Trigger Direction   = BELOW
Threshold           = -0.1
Polarity            = -1

[Channel C]
Coupling            = DC_50OHM
Range               = 0.5
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = False
Trigger Type        = LEVEL
Trigger Direction   = BELOW
Threshold           = -0.1
Polarity            = -1

[Channel D]
Coupling            = DC_50OHM
Range               = 0.1
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = True
Trigger Type        = LEVEL
Trigger Direction   = BELOW
Threshold           = -0.01
Polarity            = -1

[Channel E]
Coupling            = DC_50OHM
Range               = 0.5
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = True
Trigger Type        = LEVEL
Trigger Direction   = BELOW
Threshold           = -0.1
Polarity            = -1

[Channel F]
Coupling            = DC_50OHM
Range               = 0.5
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = False
Trigger Type        = LEVEL
Trigger Direction   = BELOW
Threshold           = -0.1
Polarity            = -1

[Channel G]
Coupling            = DC_50OHM
Range               = 0.5
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = False
Trigger Type        = LEVEL
Trigger Direction   = BELOW
Threshold           = -0.1
Polarity            = -1

[Channel H]
Coupling            = DC_50OHM
Range               = 0.1
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = True
Trigger Type        = LEVEL
Trigger Direction   = BELOW
Threshold           = -0.01
Polarity            = -1