[Run]
Output Path = C:/Users/yt21461/CR code/CR_MSci_Lab
Run time = 60
Trigger Combo Setting = 1

[Sampling]
Pre-Trigger Window  = 1e-7
Post-Trigger Window = 1e-6
Time Base           = 2
Captures Per Block  = 10


[Channel A]
Coupling            = DC_50OHM
Range               = 0.5
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = True
Trigger Type        = LEVEL
Trigger Direction   = BELOW
Threshold           = -0.01
Polarity            = -1

