[Run]
Output Path = C:/Users/hq21095/picosdk-python-wrappers-master\picosdk-python-wrappers-master/CR_MSci_Lab/
Run time = 60
Trigger Combo Setting = 1

[Sampling]
Pre-Trigger Window  = 1e-7
Post-Trigger Window = 1e-6
Time Base           = 2
Captures Per Block  = 100


[Channel A]
Coupling            = DC_50OHM
Range               = 0.5
Baseline Correction = False
Timing              = PEAK
Trigger Enabled     = True
Trigger Type        = LEVEL
Trigger Direction   = BELOW
Threshold           = -0.001
Polarity            = -1

